.formBox {
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}

.btn {
  width: 100px;
  margin: 0 auto;
}

.btn:hover {
  color: red;
}

.labelText {
  margin-right: 5px;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}